logbook/*.pdf
slides/*.pdf
paper/*.pdf
pres/*.pdf
grants/*.pdf

logbook/input/
slides/input/
paper/input/
pres/input/
grants/input/

tasks/*/input/
tasks/*/output/
tasks/*/temp/
slurmlogs

tasks/*/code/*.py.o*
tasks/*/code/*.py.e*
tasks/*/code/*.asv

*.fls
*.fdb_latexmk
.DS_Store
*DS_Store*
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.md5
*.dpth
*.auxlock

run.sbatch
!tasks/setup_environment/code/run.sbatch
*.auxlock
grants/fontsize.sty
grants/fontsize/*
.Rproj.user
*tasksflow*
tasks/download_ACS_data/raw_output/raw_ACS_1_year_sample_2003_2020.dta
